<head>
<link rel="stylesheet" href="/static/style.css">

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>

<title>Dashboard</title>

</head>

<body>
<img src="/video_feed">

<table id="detection-table">
    <tr>
        <th>Object Name</th>
        <th>Time</th>
        <th>Confidence</th>
        <th>ID</th>
    </tr>
</table>
<script>
    const socket = io() 
    socket.on("Detection", function(data) {
        let table = document.getElementById("detection-table")
        let row = table.insertRow(1)
        row.innerHTML = "<td>" + data.class + "</td>" + "<td>" + data.time + "</td>" + "<td>" + data.confidence + "</td>" + "<td>" + data.id + "</td>"
    })
</script>
</body>